html, body {
	position: relative;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #000000;
	min-width: 1000px;
	min-height: 400px;
}

h1 {
	text-align: center;
}

div {
	display: block;
	position: relative;
	margin: 0px;
	padding: 0px;
	background: transparent;
	border: 0px;
	z-index: 0;
}

.navbar-left {
	position: fixed;
	display: block;
	left: 0px;
	top: 40%;
	width: 155px;
	height: auto;
	background: transparent;
	outline: none;
	margin-left: -120px;
	transition: ease 0.5s margin-left;
	z-index: 2;
}

.navbar-left:hover {
	margin-left: 0px;
}

.navbar-left a {
	outline: none;
}

.nav > li > a {
	padding-right: 40px;
}

.navbar-left li:active {
	background: #d5fffb;
}

.glyph-right {
	position: absolute;
	display: block;
	font-size: 30px;
	line-height: 40px;
	margin-left: 105px;
	/*animation: linear 1s growth infinite;*/
}

.navbar-left li img {
	position: absolute;
	display: block;
	top: 0px;
	max-width: 30px;
	max-height: 30px;
	margin: 5px;
	padding: 0px;
	border: 0px;
	margin-left: 105px;
}

.full-container {
	display: table;
	width: 100%;
	border: 0px;
	overflow: hidden;
	vertical-align: middle;
}

.middle-inner-container {
	/*width: 900px;*/
	height: auto;
	background: transparent;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.middle-inner-container img {
	max-width: 500px;
	max-height: 90%;
	height: auto;
	display: inline-block;
	outline: none;
	border: 0px;
	text-align: right;
	float: left;
	vertical-align: top;
}

.middle-inner-container_block {
	width: 900px;
	position: relative;
	display: inline-block;
	text-align: left;
}

.middle-inner-container_block h2 {
	text-align: center;
	color: #2b00a6;
}

@keyframes growth {
	0% {transform: scale(1.0,1.0)}
	50% {transform: scale(1.5,1.5)}
	100% {transform: scale(1.0,1.0)}
}

.downloads-container {
	position: relative;
	display: block;
	text-align: center;
	border: 0px;
	margin-top: 50px;
}

.downloads-container img {
	display: block;
	width: 140px;
	border: 0px;
}

.downloads-container div {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border: 0px;
}

.about {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 100%;
	margin-left: -350px;
	clear: both;
	overflow: hidden;
	width: 100px;
	/*height: 143px;*/
	transition: linear 0.5s width, linear 0.25s opacity;
	white-space: nowrap;
	font-size: 20px;
	opacity: 0.3;
	text-align: left;
}

.about img {
	width: 100px;
	text-align: left;
}

.about:hover {
	width: 350px;
	opacity: 1;
}
